src/services/tesoreria/esquemas/pain.008.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Espejo estructural (subconjunto) de ISO 20022 pain.008.001.02 (Customer Direct Debit
     Initiation). Cubre los elementos emitidos por src/services/tesoreria/sepa.py. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:iso:std:iso:20022:tech:xsd:pain.008.001.02"
           xmlns="urn:iso:std:iso:20022:tech:xsd:pain.008.001.02"
           elementFormDefault="qualified">
  <xs:element name="Document" type="Document"/>
  <xs:complexType name="Document">
    <xs:sequence><xs:element name="CstmrDrctDbtInitn" type="CstmrDrctDbtInitn"/></xs:sequence>
  </xs:complexType>
  <xs:complexType name="CstmrDrctDbtInitn">
    <xs:sequence>
      <xs:element name="GrpHdr" type="GrpHdr"/>
      <xs:element name="PmtInf" type="PmtInf" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrpHdr">
    <xs:sequence>
      <xs:element name="MsgId" type="xs:string"/>
      <xs:element name="CreDtTm" type="xs:string"/>
      <xs:element name="NbOfTxs" type="xs:string"/>
      <xs:element name="CtrlSum" type="xs:decimal"/>
      <xs:element name="InitgPty" type="Party"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Party">
    <xs:sequence><xs:element name="Nm" type="xs:string"/></xs:sequence>
  </xs:complexType>
  <xs:complexType name="PmtInf">
    <xs:sequence>
      <xs:element name="PmtInfId" type="xs:string"/>
      <xs:element name="PmtMtd" type="xs:string"/>
      <xs:element name="NbOfTxs" type="xs:string"/>
      <xs:element name="CtrlSum" type="xs:decimal"/>
      <xs:element name="ReqdColltnDt" type="xs:string"/>
      <xs:element name="Cdtr" type="Party"/>
      <xs:element name="CdtrAcct" type="CashAccount"/>
      <xs:element name="CdtrAgt" type="Agent"/>
      <xs:element name="DrctDbtTxInf" type="DrctDbtTxInf" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccount">
    <xs:sequence><xs:element name="Id" type="AccountId"/></xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountId">
    <xs:sequence><xs:element name="IBAN" type="xs:string"/></xs:sequence>
  </xs:complexType>
  <xs:complexType name="Agent">
    <xs:sequence><xs:element name="FinInstnId" type="FinInstnId"/></xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinInstnId">
    <xs:sequence><xs:element name="BIC" type="xs:string"/></xs:sequence>
  </xs:complexType>
  <xs:complexType name="DrctDbtTxInf">
    <xs:sequence>
      <xs:element name="PmtId" type="PmtId"/>
      <xs:element name="InstdAmt" type="ActiveAmt"/>
      <xs:element name="DrctDbtTx" type="DrctDbtTx"/>
      <xs:element name="DbtrAgt" type="Agent" minOccurs="0"/>
      <xs:element name="Dbtr" type="Party"/>
      <xs:element name="DbtrAcct" type="CashAccount"/>
      <xs:element name="RmtInf" type="RmtInf" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PmtId">
    <xs:sequence><xs:element name="EndToEndId" type="xs:string"/></xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActiveAmt">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="Ccy" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DrctDbtTx">
    <xs:sequence><xs:element name="MndtRltdInf" type="MndtRltdInf"/></xs:sequence>
  </xs:complexType>
  <xs:complexType name="MndtRltdInf">
    <xs:sequence>
      <xs:element name="MndtId" type="xs:string"/>
      <xs:element name="DtOfSgntr" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RmtInf">
    <xs:sequence><xs:element name="Ustrd" type="xs:string"/></xs:sequence>
  </xs:complexType>
</xs:schema>
